{%extends 'base.html'%}
{%block content%}
<div class="about">
<h2 class="habout">ABOUT</h2>
<h3><a href="https://www.linkedin.com/in/sunny-kumar-069598288/" class="linkedin">LinkedIn Profile</h3><h3 class="social"><a href="https://github.com/Sunny1619" class="github">GitHub Profile</a></h3>
<p>Hello there! I'm Sunny Kumar Pandit, currently pursuing my studies at the prestigious Indian Institute of Information Technology, Kalyani. I'm deeply passionate about the dynamic world of web development, where I've honed my skills and gained significant experience in leveraging the power of Django and Python.</p>
<p>My journey in this fascinating field has equipped me with a strong foundation in creating robust, user-friendly web applications. I thrive on the challenges of crafting efficient and innovative solutions while exploring the endless possibilities that the realm of web development offers.</p>
<p>This Website is built using Django, HTML and CSS. This is a very basic website for Blogs. This is the first Web App which I built while learning Django. I am looking forward to learn Javascript for front-end and I will design some good Websites. </p>
</div>
{%endblock content%}