{% load static %}
<html>
    <head>
        <link href="{% static 'css/web.css' %}" rel="stylesheet" >
    </head>
    <body>
        <img src="{%static 'images/logo.png'%}" class="logo small" />
        <nav>
            <ul>
                <li><a href="{% url 'blog' %}">HOME</a></li>
                <li><a href="{% url 'post_new' %}">NEW BLOG</a></li>
                <li><a href="{%url 'signup'%}">SIGN UP</a></li>
                {%if user.is_authenticated%}
                <li><a href="{%url 'logout'%}">LOG OUT</a></li>
                {%else%}
                <li><a href="{%url 'login'%}">LOGIN</a></li>
                {%endif%}
                <li><a href="{%url 'about'%}">ABOUT</a></li>
            </ul>
        </nav>
        {%if user.is_authenticated%}
        <h3 class="user">Hi {{user.username}} !</h3>
        {%else%}
        <h3 class="user">You Are Not Logged In</h3>
        {%endif%}
        <div class="view">
            {% block content %}
            {% endblock content%}
        </div>
    </body>
</html>